/**
 * Copyright (c) 2013 Oracle and/or its affiliates. All rights reserved.
 *
 * You may not modify, use, reproduce, or distribute this software except in
 * compliance with  the terms of the License at:
 * http://java.net/projects/javaeetutorial/pages/BerkeleyLicense
 */

#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}
body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Helvetica CE", sans-serif;
    color: blue;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  40px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #045491;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.center_content {
    position: relative;
    background-color: #e0e0e0;
    padding: 5px;
}

.error-message {
  color: #d20005;
  font-family: 'New Century Schoolbook', serif;
  font-style: oblique;
  text-decoration: overline;
}

.list-background { 
  background-color: #ffffff;
  font-family: sans-serif;
  font-size: 12pt;
  padding: 10px;
  width: 100%;
}

.list-caption {
  font-family: sans-serif;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.list-column-center { 
  text-align: center;
  width: 15%;
}

.list-column-left {
  text-align: left;
  width: 70%;
}

.list-column-right {
  text-align: right;
  width: 15%;
}

.list-footer { 
  background-color: #A5A5A5;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.list-header { 
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.list-row-even { 
}

.list-row-odd { 
  background-color: #eaf1f8;
}

.special-offer { 
  font-family: sans-serif;
  font-size: 12pt;
  text-align: left;
  padding: 10px;
}

