<?xml version='1.0' encoding='UTF-8' ?>
<html lang="#{localeBean.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" >
    
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>#{bundle.BookstoreTitle}</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    <h:graphicImage id="headerBanner"
                                    name="logo.jpg"
                                    library="images" 
                                    height="100"
                                    width="1000" />
                </p:layoutUnit>

                <p:layoutUnit position="west" size="220" header="SKLEPY" collapsible="true">
                    <p:menu>
                        <p:submenu label="Inne nasze sklepy">
                            <p:menuitem value="Helion" url="http://helion.pl/" />
                            <p:menuitem value="Wydawnictwo AGH" url="http://www.wydawnictwo.agh.edu.pl" />
                            <p:menuitem value="Bonito" url="http://bonito.pl" />
                            <p:menuitem value="Główna Księgarnia Naukowa" url="http://www.gkn.pl" />

                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <div id="content" class="center_content" >
                        <ui:insert name="content" />
                    </div>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>
