<?xml version='1.0' encoding='UTF-8' ?>
<!--

    Copyright (c) 2013 Oracle and/or its affiliates. All rights reserved.

    You may not modify, use, reproduce, or distribute this software except in
    compliance with  the terms of the License at:
    http://java.net/projects/javaeetutorial/pages/BerkeleyLicense

-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:bookstore="http://ksiegarnia"
                template="./bookstoreTemplate.xhtml">

    <ui:define name="top"></ui:define> 
    <ui:define name="content">
        <h:form>
            <table id="links" columns="3" width="800" role="presentation">
                <tr>
                    <td>
                        <h:commandLink id="Walls" action="bookstore">
                            <f:actionListener 
                                type="zti.ksiegarnia.listeners.LinkBookChangeListener" />
                            <h:outputText value="#{bundle.Book201}"/>
                        </h:commandLink>
                    </td>
                    <td>
                        <h:commandLink id="Martin" action="bookstore">
                            <f:actionListener 
                                type="zti.ksiegarnia.listeners.LinkBookChangeListener" />
                            <h:outputText value="#{bundle.Book202}"/>
                        </h:commandLink>
                    </td>
                    <td>
                        <h:commandLink id="Robert" action="bookstore">
                            <f:actionListener 
                                type="zti.ksiegarnia.listeners.LinkBookChangeListener" />
                            <h:outputText value="#{bundle.Book203}"/>
                        </h:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:commandLink id="Loeliger" action="bookstore">
                            <f:actionListener 
                                type="zti.ksiegarnia.listeners.LinkBookChangeListener" />
                            <h:outputText value="#{bundle.Book205}"/>
                        </h:commandLink>
                    </td>
                    <td>
                        <h:commandLink id="Hunt" action="bookstore">
                            <f:actionListener 
                                type="zti.ksiegarnia.listeners.LinkBookChangeListener" />
                            <h:outputText value="#{bundle.Book206}"/>
                        </h:commandLink>
                    </td>
                    <td>
                        <h:commandLink id="Howard" action="bookstore">
                            <f:actionListener 
                                type="zti.ksiegarnia.listeners.LinkBookChangeListener" />
                            <h:outputText value="#{bundle.Book207}"/>
                        </h:commandLink>
                    </td>
                </tr>
            </table>
        </h:form>
    </ui:define>
</ui:composition>
